.aboutMeWrapper {
    margin: 2rem 10rem;
    text-align: center;
    border: 1px solid #333;
    padding: 2rem;
    border-radius: .5rem;
    h2 {
        font-size: 4rem;
        line-height: 5rem;
    } p {
        font-size: 1.5rem;
    }
    a {
        text-decoration: none;
        color: #000;
        width: 5rem;
    }
}

@media (max-width: 768px) {
    .aboutMeWrapper {
        margin: 2rem 1rem;
        h2 {
            font-size: 2.5rem;
            line-height: 3rem;
        }
        p {
            font-size: 1.2rem;
        }
    }

}