.allRecipesWrapper {
  padding: 0 1rem;
  margin: 2rem 0;
}

.recipeSectionWrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  justify-content: center;
  justify-items: center;
  grid-gap: 1rem;
}

.allRecipesHeading {
  font-family: cubano;
  font-weight: 100;
  text-align: center;
  font-size: 3rem;
}

.selectWrapper {
  margin: 2.5rem auto;
  padding: 0 1rem;
  width: 500px;
}

@media only screen and (max-width: 768px) {
  .selectWrapper {
    width: 100%;
  }
}
