.mainRecipeSectionWrapper {
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.mainTitle {
    font-size: 2.5rem;
    margin: 0 auto;
}

.recipeSectionWrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.allRecipesLink {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    background: tomato;
    padding: .3rem;
    border-radius: .5rem;
    color: white;
}

.allRecipesLink:hover {
    background: rgb(255, 38, 0);

}




